<!DOCTYPE html>
<html>
<head>
  <title>Persons</title>
  <link rel="stylesheet" href="styles.css">
  <script src="manage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <h1>Persons</h1>
  <div id="app">
    <div>
      <p>Person name:</p>
      <input type="text" id="person" />
      <button v-on:Click="createPerson">Add person</button>
    </div>
    <br />
    <h2>Entries</h2>
    <div class="row headerrow">
      <div class="column headercolumn" style="width: 250px;">Name</div>
      <div class="column headercolumn" style="width: 150px;"></div>
    </div>
    <div class="row" v-for="(person, index) in personList">
      <div class="column" style="width: 250px;">
        <input class="cellinput" v-model="person.name">
      </div>
      <div class="column" style="width: 150px;">
        <button v-on:click="updatePerson(index)">Update</button>
        <button v-on:click="deletePerson(index)">Delete</button>
      </div>
    </div>
    <p>{{ message }}</p>
  </div>
  <script>
  const personsUrl = 'http://127.0.0.1:8000/persons/';
  var app = new Vue({
    el: '#app',
    data: {
      message: '',
      personList: []
    },
    created: function () {
      var response = sendRequest(personsUrl, READ);
      for (var i = 0; i < response.length; i++) {
        var obj = response[i];
        this.personList.push(obj);
      }
    },
    methods: {
      createPerson: function() {
        var personName = document.getElementById("person");
        var request = { name: personName.value };
        var response = sendRequest(personsUrl, CREATE, JSON.stringify(request));
        this.personList.push(response);
      },
      updatePerson: function(index) {
        var obj = this.personList[index];
        var request = { name: obj.name };
        var response = sendRequest(obj.url, UPDATE, JSON.stringify(request));
        this.message = 'Record has been successfully updated!';
      },
      deletePerson: function(index) {
        var obj = this.personList[index];
        var response = sendRequest(obj.url, DELETE);
        this.personList.splice(index, 1);
        this.message = 'Record has been successfully deleted!';
      }
    }
  })
  </script>
</body>
</html>
