input.cellinput {
  width: 100%;
}

div.row {
  display: table;
  table-layout: fixed;
  border-spacing: 7px;
  border: 1px solid black;
}

div.column {
  display: table-cell;
  text-align: center;
}

div.headerrow {
  background-color: #f1cbac;
}

div.headercolumn {
  display: table-cell;
  text-align: left;
}
